.as-debug {
    border: 1px solid pink;
}
/* general */
body{
    font-family: 'Roboto' , sans-serif;
}
:root {
	--color-bg-blackgreen: #009688;
	--color-bg-toolbar-graylight: #eaeaea;
	--color-bg-toolbar-celeste: #8edafc;
	--color-bg-chat-green: #d5f9ba;
	--color-bg-message: #f3eeea;
	--color-icon-graylight: #b1b1b1;
	--color-icon-gray: #6b7376;
}

#app{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,#009688 20%, #D8DBD5 20% );
}

/* ***** contacts**** */
#contactsContainer {
    width: 40%;
}
.toolbar {
    height: 70px;
    background: var(--color-bg-toolbar-graylight);
}
.search{
    height: 50px;
}
.contacts{
    height: calc(100% - 190px);
    overflow-y: auto;
}
/********************* contact *******/
.contact{
    padding: 10px;
    border-bottom: 1px solid var(--color-bg-toolbar-graylight);
}
/* toolbar */
.user div img{
    width: 17%;
}
.icons i{
    padding-left: 10px;
    color: var(--color-icon-graylight);
    cursor: pointer;
}
/* notification */
.notification{
    height: 70px;
    background-color: var(--color-bg-toolbar-celeste);
}
.notification i{
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    color: var(--color-bg-toolbar-celeste);
    cursor: pointer;
}
.notification a{
    cursor: pointer;
}

/* contact */
.contact img{
    width: 30%;
}
/* ************ CHAT *********** */
#chatContainer{
    width: 60%;
    background-image: url(/img/mine.jpg);
}
.chat{
    height:calc(100% - 140px);
    overflow-y: auto;
    padding: 20px;
}
/* toolbar */
.toolbarChat{
    height: 70px;
    background-color: var(--color-bg-message);
}
.icon{
    width: 15%;
    font-size: x-large;
    color: var(--color-icon-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    border-color: white;
    width: 70%;
    display: flex;
    align-items: center;
}